body{
    height:100%;
    background-color: #A5ABA0;;
}
.container{
    margin-top:2%;
    margin-left: 3.5%;
    margin-bottom: 4%;
    margin-right:3.5%;
}
.box{
    background-color: white;
    width: 23%;
    border: 2px solid   #666666;
     /* float: left;  */
    margin: 8px; 
    display: inline-block;
    /* margin-left: 2%; */
}
.box:hover{
    border: 2px solid black;
    background: rgba(0,0,0,0.3);
}
.box img{
    width:310px;
    height:160px;
    margin:2%;
}
.box a{
    /* align-content: center; */
    text-decoration: none;
    /* padding-left: 8px;  */
    color: black;
}